.container {
	max-width: var(--container-max-width);
	padding-inline: var(--container-padding);
	margin: 0 auto;
	width: 100%;
}

@media (max-width: 768px) {
	.container {
		padding-inline: var(--spacing-lg);
	}
}
