.flex {
  display: flex;
}

.flex--direction-row {
  flex-direction: row;
}

.flex--direction-column {
  flex-direction: column;
}

.flex--align-start {
  align-items: flex-start;
}

.flex--align-center {
  align-items: center;
}

.flex--align-end {
  align-items: flex-end;
}

.flex--align-stretch {
  align-items: stretch;
}

.flex--justify-start {
  justify-content: flex-start;
}

.flex--justify-center {
  justify-content: center;
}

.flex--justify-end {
  justify-content: flex-end;
}

.flex--justify-between {
  justify-content: space-between;
}

.flex--justify-around {
  justify-content: space-around;
}

.flex--gap-sm {
  gap: var(--spacing-sm);
}

.flex--gap-md {
  gap: var(--spacing-md);
}

.flex--gap-lg {
  gap: var(--spacing-lg);
}

.flex--gap-xl {
  gap: var(--spacing-xl);
}
.flex--gap-2xl {
	gap: var(--spacing-2xl);
}

.flex--wrap {
  flex-wrap: wrap;
}
